body{
    border: solid 0.8px;
    margin: 500px;
    padding: 100;
    text-align: center;
}
.logo{
    height: 100px;
    width: 100px;
    left: 500px;
}
.formulaire input{
    background:rgb(243, 240, 240);
   background-size: cover;
   width: 400px;
   height: 50px;
   border-radius: 7px;
}
span{
    color: #5f4dff;
}
.container a{
    text-decoration: none;
    color: #5f4dff;
}
.bouton
{
  margin-left: 338px;
  width: 130px;
  height: 40px;
  background-color:#5f4dff;
  border-radius: 10px ;
  cursor: pointer;
}